# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Arithmetic operators are used with numeric values to perform common mathematical operations:

* Operator	               Name	                       Example                            	
*     +	                 Addition	                    x + y	
*     -	                Subtraction                    	x - y	
*     *	                Multiplication                 	x * y	
*    /	                   Division	                    x / y	
*    %	                   Modulus                   	x % y	
*    **	               Exponentiation                 	x ** y	
*    //	               Floor division                   x // y

In [1]:
a: int = 7
b: int = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

9
5
14
3.5
1
49
3

# Assignment operators are used to assign values to variables:

*  Operator	           Example        	Same As
*   =                   x = 5       	x = 5	
*  +=	                x += 3      	x = x + 3	
*  -=	                x -= 3	        x = x - 3	
*  *=	                x *= 3	        x = x * 3	
*  /=	                x /= 3	        x = x / 3	
*  %=	                x %= 3	        x = x % 3	
*  //=	                x //= 3	        x = x // 3	
*  **=	                x **= 3	        x = x ** 3	
*  &=	                x &= 3	        x = x & 3	
*  |=	                x |= 3	        x = x | 3	
*  ^=	                x ^= 3	        x = x ^ 3	
*  >>=	                x >>= 3      	x = x >> 3	
*  <<=	                x <<= 3     	x = x << 3

In [2]:
#assign 
a: int = 7
print(a)

7

In [3]:
# +=
a: int = 8
print(a)
a += 12
print(a)

8
20

In [4]:
# -=
a: int = 10
print(a)
a -= 2
print(a)

10
8

In [5]:
# *=
a: int = 2 
print(a)
a *= 2 
print(a)

2
4

In [6]:
# /=
a: int = 10
print(a)
a /= 2
print(a)

10
5.0

In [7]:
# %=
a: int = 11
print(a)
a %= 2
print(a)

11
1

In [8]:
# //=
a: int = 15
print(a)
a //= 2
print(a)

15
7

# Comparison operators are used to compare two values:

*    Operator	      Name	                   Example	
*      ==	         Equal	                    x == y	
*      !=	        Not equal	                x != y	
*      > 	      Greater than    	            x > y	
*      <	       Less than	                x < y	
*      >=	  Greater than or equal to  	    x >= y	
*      <=	   Less than or equal to	        x <= y

In [11]:
# == 
a: int = 7
b: int = 10
print(a == b)

a: int = 7
b: int = 7
print(a == b)

a: int = 7
b: str = '7'
print(a == b)

False
True
False

In [14]:
# !=
a: int = 6
b: int = 5
print(a != b)

a: int = 6
b: int = 6
print(a != b)

a: int = 6
b: str = '6'
print(a != b)

True
False
True

In [18]:
# <, >
a: int = 6
b: int = 5
print(a > b)

a: int = 5
b: int = 6
print(a < b)

True
True

In [22]:
# >=, <=
a: int = 5
b: int = 10
print(a <= b)

a: int = 10
b: int = 5
print(a >= b)

a: int = 5
b: int = 10
print(a >= b)

a: int = 10
b: int = 5
print(a <= b)

True
True
False
False

# ASCII Code

* Z = 90

* a = 97
* z = 122 

* 0 = 48 
* 9 = 57

In [24]:
a: str = 'A'
b: str = 'B'
print(a >= b)

a: str = 'A'
b: str = 'B'
print(a <= b)

False
True

In [26]:
# ASCII Code conversion
chr(65) # A

ord('A') # 65

65

# Logical operators are used to combine conditional statements:

* Operator	                   Description	                                       Example	
* and 	        Returns True if both statements are true	                   x < 5 and  x < 10	
* or	     Returns True if one of the statements is true	                     x < 5 or x < 4	
* not	  Reverse the result, returns False if the result is true

In [36]:
# and Laazmi 
# or optional
# not invert comparison
print(True and True and True)
print(False and False and True)

print(True or True or True)
print(False or False or True)

not True # False
not False # True

True
False
True
True

True

In [37]:
name: str = 'Zia Khan'
print(not name == 'Zia Khan')

False

# Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

* Operator	 Description	Example	Try it
* is 	Returns True if both variables are the same object	x is y	
* is not	Returns True if both variables are not the same object	x is not y

In [ ]:
# is identity operator
x: str = 'abc'
z: str = 'abc'
# value same h is liye back-end mn inka code same h is liye ans will be True 
# agr variable name same hota or value change hoti to  bhi ans will be True
# agr name change hota or value bhi change hoti to ans will be False
x is z # True due to same value

a: str = 'ab'
a: str = 'cb'
a is a # True due to same variable name

a: str = 'ab'
b: str = 'cb'
a is b # False due to different variable name and different value

In [69]:
names: list[str] = ['sir zia','sir hamza','sir imran']
name: str = input('Enter your name')
name in names 
name not in names # convert

False

To solve the equation step by step, follow the order of operations (PEMDAS/BODMAS), which stands for Parentheses/Brackets, Exponents/Orders (i.e., powers and square roots, etc.), Multiplication and Division (left-to-right), and Addition and Subtraction (left-to-right).

The given equation is:

2 + 3 - 2 * 4/2 + 2

First, perform the multiplication and division from left to right:

2 + 3 - 2 * 4/2 + 2
2 + 3 - 8/2 + 2
2 + 3 - 4 + 2

Next, perform the addition and subtraction from left to right:

2 + 3 - 4 + 2
5 - 4 + 2

Continue with the addition and subtraction:

5 - 4 + 2
1 + 2

Finally, perform the last addition:

1 + 2
3

So, the solution to the equation 2 + 3 - 2 * 4/2 + 2 is 3.

In [70]:
print(3 + 2 - 2 * 4/2 + 2)

3.0