#Chapter 1 
#print helloworld

In [40]:
print("Hello World!")

Hello World!

#Chapter 2
#Variables and Simple Data Types

In [41]:
#Data Types: Python has several built-in data types, including:
#Integers (int): Used to represent whole numbers. For example:
age: int = 18

#Floating-Point Numbers (float): Used to represent real numbers with a decimal point. For example:
pi: float = 3.141592653589793

#Boolean (bool): Represents either True or False. Typically used for conditional statements and logical operations. For example:
is_student: bool = True

#Lists (list): Ordered, mutable collections of items. Lists can contain elements of different data types. For example:
fruits: list = ["apples","mangoes","grapes"]

#Tuples (tuple): Ordered, immutable collections of items. Like lists, but their elements cannot be changed after creation. For example:
my_tuple: tuple = ("apple", "banana", "cherry")

#Strings (str): Used to represent text. Strings are enclosed in either single (') or double (") quotes. For example:
name: str = "Quaid e Azam"

#String Data type in python

In [42]:
#boundries
# 'string text', "string text", '''string text''', """string text"""
name: str = "Farhan Aziz"
print(type(name))
print(name)

<class 'str'>
Farhan Aziz

In [43]:
#convert any special charactor into simple charactor, place \ before charactor
message: str = 'Piaic "student" card\n father\'s Name'
print(message)
massage: str = "piac 'student' card\n father's Name"
print(massage)

Piaic "student" card
 father's Name
piac 'student' card
 father's Name

In [44]:
name: str = "Farhan Aziz"
father_name: str = "Zafar Aziz"
education: str = "Software Engineer"
age: int = 18
city: str = "Karachi"

card: str = "PIAIC Student Card\nStudent Name:"+ name + "\nFather_name:" + father_name + "\nEducation:" + education + "\nAge:" + str(age) + "\nCity:" + city
#age variable is intiger thats why we convert it into string using "str()" function  called as type casting

print(card)

PIAIC Student Card
Student Name:Farhan Aziz
Father_name:Zafar Aziz
Education:Software Engineer
Age:18
City:Karachi

In [45]:
#\\ back slash use for line continue
print(2 + \
    2 + \
        3)

7

#Define Multiline String """ """, ''' '''

In [46]:
name: str = "Farhan Aziz"
father_name: str = "Zafar Aziz"
education: str = "Software Engineer"
age: int = 18
city: str = "Karachi"

card: str = """
PIAIC Student Card
Name: 
Father's Name: 
Education:
Age:
City:

"""
print(card)

PIAIC Student Card
Name:
Father's Name:
Education:
Age:
City:

#f-string

In [49]:
name: str = "Farhan Aziz"
father_name: str = "Zafar Aziz"
education: str = "Software Engineer"
age: int = 18
city: str = "Karachi"

card: str = f"""
PIAIC Student Card
Name: {name}
Father's Name: {father_name}
Education: {education}
Age: {age}
City: {city}

Total: {2 + 3 + 4}
"""
print(card)

PIAIC Student Card
Name: Farhan Aziz
Father's Name: Zafar Aziz
Education: Software Engineer
Age: 18
City: Karachi

Total: 9

#f-string and jinja style

In [51]:
#f-string  mostly use this type
f'''
name: {name}
'''

#jinja style
#work with html page in browser and using with 2x curly brackets
"""
name: {{name}}
"""

'\nfather-name: {{father_name}}\n'

In [ ]:
#this is old way only know don't use it
name: str = "Farhan Aziz"
father_name: str = "Zafar Aziz"
education: str = "Software Engineer"
age: int = 18
city: str = "Karachi"

card: str = f"""
PIAIC Student Card
Name: %s
Father's Name: %s
Education: %s
Age: %d
City: %s


""" %(name,father_name,education,age)
print(card)

In [1]:
#check methods of string type
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
naam: str = "farhan aziz"
print(naam.capitalize())
print(naam.lower())

In [2]:
a = 7
b = 8 
"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 8'

In [36]:
#wrong sequence
name: str = "Farhan Aziz"
father_name: str = "Zafar Aziz"
education: str = "Software Engineer"
age: int = 18
city: str = "Karachi"

card: str = """
PIAIC Student Card
Name: {}
Father's Name: {}
Education: {}
Age: {}
City: {}


""" .format(father_name,name,education,city,age)
#              0          1        2    3    4
print(card)

PIAIC Student Card
Name: Zafar Aziz
Father's Name: Farhan Aziz
Education: Software Engineer
Age: Karachi
City: 18

In [7]:
#correct sequence
name: str = "Farhan Aziz"
father_name: str = "Zafar Aziz"
education: str = "Software Engineer"
age: int = 18
city: str = "Karachi"

card: str = """
PIAIC Student Card
Name: {1}
Father's Name: {0}
Education: {2}
Age: {4}
City: {3}


""" .format(father_name,name,education,city,age)
#              0          1        2    3    4
print(card)

PIAIC Student Card
Name: Farhan Aziz
Father's Name: Zafar Aziz
Education: Software Engineer
Age: 18
City: Karachi

In [9]:
name: str = "Farhan Aziz"
father_name: str = "Zafar Aziz"
education: str = "Software Engineer"
age: int = 18
city: str = "Karachi"

card: str = """
PIAIC Student Card
Name: {a}
Father's Name: {b}
Education: {c}
Age: {d}
City: {e}


""" .format(b=father_name,a=name,c=education,e=city,d=age)
#              0          1        2    3    4
print(card)

PIAIC Student Card
Name: Farhan Aziz
Father's Name: Zafar Aziz
Education: Software Engineer
Age: 18
City: Karachi

In [13]:
student_code: str = """ 
print("My name is Farhan Aziz") 
a: int = 9
b: int = 9
print(a + b)

"""
exec(student_code)

My name is Farhan Aziz
18

#Explore string methods and attributes

In [21]:
wether: str = "      Pyarwala Moasam       "
print(wether)
print(wether.lstrip()) # remove left-side whitespace "lstrip()" left-side space removal
print(wether.rstrip()) # remove right-side whitspace  "rstrip()" right-side space removal
print(wether.strip()) # remove all side whitespace  

#using strip() method

      Pyarwala Moasam
Pyarwala Moasam
      Pyarwala Moasam
Pyarwala Moasam

In [35]:
#\n , \t, \b
message: str = "Stay with \t Palestine"
print(message) #  \t using for extra space

message: str = "I stand with\n Palestine"
print(message) #  \n using for new line

message: str = "Allah Protect the\b Muslims of Palestine"
print(message) #  \b using for backspace

Stay with 	 Palestine
I stand with
 Palestine
Allah Protect th Muslims of Palestine